body { margin: 0; }
.navigation { list-style: none; margin: 0; padding: 0; display: flex; padding: 1.5rem 0; background-color: turquoise; }
.menu { width: 150px; text-align: center; cursor: pointer; }
.menu a { text-decoration: none; color: black; width: 150px; }
.menu:hover {  background-color: brown; color: azure !important; width: 150px; }
.menu a:hover { color: azure; }
.content { margin: auto 1rem; }
.logo { margin-top: 1rem; }